@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.btn {
  background-color: #535353;
  color: rgb(255, 255, 255);
  box-shadow: 4px 4px 10px #fff;
  font-family: inherit;
  font-weight: bold;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

#toasts {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.toast {
  color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 1rem 2rem;
  margin: 0.5rem;
}

.toast.info {
    background-color: rebeccapurple;
    box-shadow: 4px 4px 10px #fff;
}

.toast.success {
    background-color: green;
    box-shadow: 4px 4px 10px #fff;
}

.toast.error {
    background-color: red;
    box-shadow: 4px 4px 10px #fff;
}