@import url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfCxc4EsA.woff);

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(105, 88, 255);
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

div {
    position: absolute;
    bottom: 20px;
    background: greenyellow;
    padding: 10px 20px;
    font-size: 18px;
}

input {
    width: 50px;
    padding: 5px;
    font-size: 18px;
    background-color: cyan;
    border: none;
    text-align: center;
}

input:focus {
    outline: none;
}